INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
include/Makefile
include/Makefile.in
include/ticcl/Makefile
include/ticcl/Makefile.in
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.o
src/TICCL-LDcalc
src/TICCL-anahash
src/TICCL-indexer
src/TICCL-indexerNT
src/TICCL-lexclean
src/TICCL-lexstat
src/TICCL-rank
src/TICCL-stats
src/TICCL-unk
src/W2V-dist
src/W2V-near
src/libticcl.la
src/word2vec.lo
src/word2vec.o
stamp-h1
