-a abcmdef	## $mode : The mode specifies which submodules will be run.
-b FOLIA	##$texttype : What is the type of your input files? Are these IM : images, PDF : images in PDF files, TXT : plain text files, XML : an XML format, FOLIA : FoLiA XML format, TSV : a frequency file (word type -tab - frequency) 
-z /exp2/reynaert/ticclops/	## $ROOTDIR : The directory where your version of the TICCL system files are located.
-c /exp2/reynaert/ticclops/data/int/nld/nld.aspell.dict.c20.d2.confusion	## $charconfus : A file listing the particular character confusions the system will gather word pairs for.
-d /exp2/reynaert/ticclops/empty.txt	## $KHC Specify the name of the Known Historical Confusions file (if you have one). If not, create an empty file in TICCL's root directory.
-e folia.xml	## $ext : The extension ending your input file names. Can be single, e.g. '.xml' or double '.folia.xml'.
-f 100000000	## $artifrq : The artificial frequency. Should be higher than the highest word frequency in your input files frequency list. Typically set at: '100000000'(i.e. one hundred million).
-g /exp2/reynaert/ticclops/data/int/nld/nld.aspell.dict.lc.chars	## $alph : The alphabet as derived for your language on the basis of a lexicon or corpus frequency list.
#-i /exp2/mre/ticclops/data/int/nld	## $INPUTDIR : Directory where system input files such as alphabet, character confusions file and lexicon are to be found. 
-i /reddata/TICCLAT/TEST/FOLIA/	## $dir : Directory from which files to be corrected are to be read
-l /exp2/reynaert/ticclops/data/int/nld/nuTICCL.OldandINLlexandINLNamesAspell.v2.COL1.tsv	## $lex : the lexicon for your language
-L 2	## $LD : The levenshtein limit to be imposed on word pairs collected.
-o /reddata/TICCLAT/TEST/OUT/	## $OUTPUTDIR : the directory system output files will be written to. Will contain a dir zzz/TICCL for intermediate TICCL files and a directory zzz/FOLIA where corrected FoLiA XML files will be written to.
-j TESTDP035	## $prefix : A prefix to begin intermediate TICCL output file names with.
-r 5	## $rank : The number of TICCL correction candidates that will be output. 
-t nld	## $lang : The language your texts are written in.
-u /exp/sloot/usr/local/bin/	## $tooldir : Directory that holds the C++ modules of which TICCL is composed.
-v 30	## $threads : the number of threads the system is allowed to set up for processing.
-x 5	## $minlength : Minimum length of word types to be examined, in characters.
-y 50	## $maxlength :	Maximum	length of word types to	be examined, in characters.


#reynaert@black:/opensonar/POLMASH$ ls -l /exp2/reynaert/ticclops/data/int/nld
#total 25380
#-rw-r--r-- 1 mre ticc_users  5897207 Jan 30  2015 ARG4.SGDLEX.UTF8.TICCL.v.4.lst
#-rw-r--r-- 1 mre ticc_users  2605708 Jul  7  2014 nld.aspell.dict
#-rw-r--r-- 1 mre ticc_users  5064047 Jul  7  2014 nld.aspell.dict.c20.d2.confusion
#-rw-r--r-- 1 mre ticc_users      839 Jul  7  2014 nld.aspell.dict.lc.chars
#-rw-r--r-- 1 mre ticc_users 12410216 Jan 30  2015 nuTICCL.OldandINLlexandINLNamesAspell.v2.COL1.tsv
